@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~stream-chat-react/dist/css/v2/index.css";

/* To match the style from the brand which we did for button css sty;e */
.str-chat {
  --str-chat__primary-color: theme(colors.blue.500);
  --str-chat__active-primary-color: theme(colors.blue.600);
  --str-chat__disabled-color: theme(colors.gray.200);
  --str-chat__cta-button-border-radius: theme(borderRadius.DEFAULT);
}

.str-chat * {
  font-family: inherit !important;
}

/* this CSS fixes the UI glitch where the search bar was taking up more space after filtering search */
.str-chat__channel-search.str-chat__channel-search--with-results.str-char__channel-search--inline {
  height: fit-content;
}
